<!DOCTYPE html>
<html>
<head>
  <title>JobMeBrosef</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <h2> <%= link_to "Signup", controller: "users", action: "new" %></h2>
  <h2> <%= link_to "Sign in", signin_path %></h2>
  <h2> <%= redirect_to "Sign out", controller: "sessions", action: "destroy" %></h2>

</head>
<body>

<%= yield %>

</body>
</html>
